export(download_fastq_vector)
export(download_virus)
export(gen_kmers_pos_df)
export(get_stats_kmers)
export(gen_kmers_first_pos_df)
export(gen_spe_first_obs_kmers)
export(gen_obs_kmers)
export(gen_gen_first_obs_kmers)
export(count_kmer_in_fastq)
export(get_kmer_freq)